Changes for ElctionGuard Elliptic Curves

Sent message to Josh Benaloh and Michael Naehrig:

I need some advice on how to implement these two functions in the egk-ec library, namely testing if an ElementModP is "in bounds" and testing if it is a "valid residual":

```
/**
 * Normal computations should ensure that every [Element] is in the modular bounds defined by
 * the group, but deserialization of hostile inputs or buggy code might not preserve this
 * property, so it's valuable to have a way to check. This method allows anything in [0, N)
 * where N is the group modulus.
 */
fun inBounds(): Boolean

/**
 * Validates that this element is a quadratic residue, ie in Z_p^r.
 * "Z_p^r is the set of r-th-residues in Z∗p", see spec 2.0 p.9
 */
fun isValidResidue(): Boolean
```

In the standard electionguard Integer group, they are implemented as

```
override fun inBounds() = element >= BigInteger.ZERO && element < groupContext.p

override fun isValidResidue(): Boolean {
    val residue = this.element.modPow(groupContext.q, groupContext.p) == groupContext.ONE_MOD_P.element
    return inBounds() && residue
}
```

Im trying to figure out what the equivalent implementation is for the Elliptic Curve P-256 group.

Michael's response:

These two functions are there to ensure that whenever you work on a supposed group element, it is indeed in the correct group. If an attacker can force someone to compute an exponentiation using a secret exponent on an element that is not in the correct group (and might have a small order for example), this can leak information about the secret exponent.

For elliptic curves we need to show the same thing, namely that the element is in the correct group. First of all that means you need to check that it is actually on the correct curve. That means, you need to check that the elliptic curve point (x,y) satisfies the curve equation y^2 = x^3 + a*x + b, where a and b are the fixed curve parameters. Your code already has the function isPointOnCurve, which should do exactly that.

Now, if the elliptic curve is a prime-order curve such as the standard curves P256 or P384, then this is enough. You don’t have to do anything else. But if the curve has a cofactor, you also need to check that the exponentiation with q (the prime group order of the generator we’re using) gives the neutral element, i.e., the scalar multiplication [q]P = 0 gives the point at infinity.

Michael:

> There’s another issue that just came to mind, and that is hashing to ElementModQ. We need this for all the challenge values in the NIZK proofs. For the finite field version of ElectionGuard, Q is so close to a power of 2 that we can just hash and take the result modulo Q. This is not good anymore for the elliptic curve values for Q. Simply reducing mod Q now introduces a bias and yields outputs that are not uniform random anymore.  To do this properly, one needs to implement what is in Section 5 of [RFC 9380: Hashing to Elliptic Curves (rfc-editor.org)](https://www.rfc-editor.org/rfc/rfc9380.pdf). This produces a larger output before it is reduced modulo Q. You’ll need that algorithms expand_message in 5.3 and hash_to_field in 5.2, which uses expand_message. Note that you only need to do this for m=1 (and then their q = their p) and count = 1.